/* .gw-cluster-page {
    .cluster-header-title {
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
      color: #2f54eb;
      cursor: pointer;
      width: fit-content;
    }
  
    .cluster-node-content {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 80px;
      margin: 16px 0 0 0;
      border: 1px solid #dee1e7;
  
      .host-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 500px;
        padding: 0 0 0 20px;
    
        .host-content-container {
          .name-status-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 0 0 4px 0;
  
            .name-container {
              margin: 0 8px 0 0;
              color: #002b69;
              font-size: 16px;
              font-weight: 500;
            }
  
            .status-container {
              .status-content-normal {
                color: #3a9305;
                background-color: #e0f7d2;
              }
              .status-content-danger {
                color: #ac2e00;
                background-color: #ffe5db;
              }
            }
          }
  
          .address-container {
            color: #6f7b8b;
            font-size: 14px;
            font-weight: 500;
          }
        }
      }
  
      .items-container {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
  
        .item-container {
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 170px;
  
          .item-content-container {
            .title-container {
              margin: 0 0 4px 0;
              color: #6f7b8b;
              font-weight: 500;
            }
  
            .value-container {
              color: #002b69;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
   */
.gw-cluster-page .cluster-header-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: #2f54eb;
  cursor: pointer;
  width: fit-content;
}

.gw-cluster-page .cluster-node-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80px;
  margin: 16px 0 0 0;
  border: 1px solid #dee1e7;
}

.gw-cluster-page .cluster-node-content .host-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 500px;
  padding: 0 0 0 20px;
}

.gw-cluster-page .cluster-node-content .host-container .host-content-container .name-status-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 4px 0;
}

.gw-cluster-page .cluster-node-content .host-container .host-content-container .name-status-container .name-container {
  margin: 0 8px 0 0;
  color: #002b69;
  font-size: 16px;
  font-weight: 500;
}

.gw-cluster-page .cluster-node-content .host-container .host-content-container .name-status-container .status-container .status-content-normal {
  color: #3a9305;
  background-color: #e0f7d2;
}

.gw-cluster-page .cluster-node-content .host-container .host-content-container .name-status-container .status-container .status-content-danger {
  color: #ac2e00;
  background-color: #ffe5db;
}

.gw-cluster-page .cluster-node-content .host-container .host-content-container .address-container {
  color: #6f7b8b;
  font-size: 14px;
  font-weight: 500;
}

.gw-cluster-page .cluster-node-content .items-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gw-cluster-page .cluster-node-content .items-container .item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 170px;
}

.gw-cluster-page .cluster-node-content .items-container .item-container .item-content-container .title-container {
  margin: 0 0 4px 0;
  color: #6f7b8b;
  font-weight: 500;
}

.gw-cluster-page .cluster-node-content .items-container .item-container .item-content-container .value-container {
  color: #002b69;
  font-weight: 500;
}